// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";

@import "variables";

@import "navigation";
@import "content";


/* Base styles */

:root {
  font-size: 10px;


}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $board-bg-color;

  .selected {
    //outline: 0.25rem inset $board-bg-color;
    box-shadow: 1px 2px 5px grey;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@supports (display: flex) {
  body {
    display: flex;
    grid-template-rows: 4rem 3rem auto;
    grid-row-gap: 0.8rem;
  }

  .masthead {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 2rem;
  }

  .boards-menu {
    display: grid;
    grid-template-columns: 9rem 18rem;
    grid-column-gap: 0.8rem;
  }

  .user-settings {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8rem;
  }

  .board-controls {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
  }

  .logo,
  .list,
  .list-items li,
  .boards-btn,
  .board-info-bar,
  .board-controls .btn,
  .user-settings-btn {
    margin: 0;
  }
}
